.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: visible;
  margin-top: 100px;
  width: 100%; 
  max-width: 370px; 

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .relative {
    position: absolute;
    top: -70px;

    img {
      transition: transform 0.5s ease-in-out;
      border-radius: 50%; 
      width: 270px;
      height: 270px;
      object-fit: cover;
      border: 4px solid white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  h2 {
    margin-top: 200px;
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: center;
  }

  button {
    margin-top: 12px;
    background-color: rgb(33, 186, 117);
    color: white;
    padding: 8px 16px; 
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: darken(rgb(33, 186, 117), 10%); 
    }
  }
}

@media (max-width: 768px) {
  .card {
    margin-top: 60px; 
    margin-left: 10px; 
    width: 100%; 
    max-width: 90%;
  }

  .relative img {
    width: 200px; 
    height: 200px; 
  }

  h2 {
    font-size: 1.2rem; 
    margin-top: 150px; 
  }

  button {
    width: 100%; 
  }
}


@media (max-width: 1024px) {
  .card {
    margin-left: 15px;
    width: 100%;
    max-width: 400px;
  }

  .relative img {
    width: 230px;
    height: 230px;
  }

  h2 {
    font-size: 1.3rem;
    margin-top: 180px;
  }

  button {
    width: 100%;
  }
}


