.meal-category-buttons {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(214, 214, 214);

  /* العنوان */
  .title {
    font-family: 'Pacifico', cursive; /* تأكيد استخدام الخط */
    font-size: 2rem; /* حجم الخط كبير */
    font-weight: bold; /* خط عريض */
    margin-bottom: 20px; /* مسافة أسفل العنوان */
    color:#F29724 ;
  }

  .dropdown-toggle {
    display: none; /* إخفاء زر القائمة المنسدلة على الشاشات الكبيرة */
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* border رمادي خفيف */
    border-radius: 25px;
    background-color: transparent; /* خلفية شفافة */
    color: black; /* لون النص أسود */
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: white; /* خلفية بيضاء عند الهوفر */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* شادو قوي عند الهوفر */
    }
  }

  .categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .category-button {
      padding: 10px 20px;
      border: 1px solid rgba(0, 0, 0, 0.1); /* border رمادي خفيف */
      border-radius: 25px;
      background-color: transparent; /* خلفية شفافة */
      color: black; /* لون النص أسود */
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: white; /* خلفية بيضاء عند الهوفر */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* شادو قوي عند الهوفر */
      }

      &.active {
        background-color: black; /* خلفية سوداء للزر النشط */
        color: white; /* لون النص أبيض */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* شادو قوي للزر النشط */
      }
    }
  }

  /* تحويل الأزرار إلى قائمة منسدلة على الشاشات الصغيرة */
  @media (max-width: 768px) {
    .dropdown-toggle {
      display: block; /* إظهار زر القائمة المنسدلة على الشاشات الصغيرة */
    }

    .categories-list {
      display: none; /* إخفاء القائمة الافتراضية على الشاشات الصغيرة */
      flex-direction: column;
      width: 100%; /* جعل القائمة عريضة */
      background-color: white; /* خلفية بيضاء للقائمة */
      border-radius: 10px; /* زوايا مدورة */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* إضافة ظل للقائمة */
      padding: 10px; /* إضافة مساحة داخلية */
      max-height: 300px; /* جعل القائمة أطول */
      overflow-y: auto; /* إضافة scroll إذا كانت القائمة طويلة */

      .category-button {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px; /* زوايا مدورة للأزرار */

        &:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* شادو قوي عند الهوفر */
        }
      }

      &.open {
        display: flex; /* إظهار القائمة عند فتحها */
      }
    }
  }
}
